<a href="https://colab.research.google.com/github/tiborv/Dockerfiles/blob/master/tibor/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.cloud import bigquery
from google.colab import auth

auth.authenticate_user()
client = bigquery.Client(project="telia-ddi-dk-dev")
for date in ["2019_08_02"]:
  query_job = client.query(f"""

create or replace table  `telia-ddi-dk-dev.tibor.05hourly_odm_ltm_mixed_{date}` as

WITH transits AS (
  SELECT
    t.transit_id,
    t.identifier,
    go.code AS origin_area_code,
    gd.code AS destination_area_code,
    EXTRACT(hour from start_time) as hour,
    case 
when EXTRACT(hour from start_time) = 0 and EXTRACT(minute from start_time) < 30 then "00:00-00:29"
when EXTRACT(hour from start_time) = 0 and EXTRACT(minute from start_time) >= 30 then "00:30-00:59"
when EXTRACT(hour from start_time) = 1 and EXTRACT(minute from start_time) < 30 then "01:00-01:29"
when EXTRACT(hour from start_time) = 1 and EXTRACT(minute from start_time) >= 30 then "01:30-01:59"
when EXTRACT(hour from start_time) = 2 and EXTRACT(minute from start_time) < 30 then "02:00-02:29"
when EXTRACT(hour from start_time) = 2 and EXTRACT(minute from start_time) >= 30 then "02:30-02:59"
when EXTRACT(hour from start_time) = 3 and EXTRACT(minute from start_time) < 30 then "03:00-03:29"
when EXTRACT(hour from start_time) = 3 and EXTRACT(minute from start_time) >= 30 then "03:30-03:59"
when EXTRACT(hour from start_time) = 4 and EXTRACT(minute from start_time) < 30 then "04:00-04:29"
when EXTRACT(hour from start_time) = 4 and EXTRACT(minute from start_time) >= 30 then "04:30-04:59"
when EXTRACT(hour from start_time) = 5 and EXTRACT(minute from start_time) < 30 then "05:00-05:29"
when EXTRACT(hour from start_time) = 5 and EXTRACT(minute from start_time) >= 30 then "05:30-05:59"
when EXTRACT(hour from start_time) = 6 and EXTRACT(minute from start_time) < 30 then "06:00-06:29"
when EXTRACT(hour from start_time) = 6 and EXTRACT(minute from start_time) >= 30 then "06:30-06:59"
when EXTRACT(hour from start_time) = 7 and EXTRACT(minute from start_time) < 30 then "07:00-07:29"
when EXTRACT(hour from start_time) = 7 and EXTRACT(minute from start_time) >= 30 then "07:30-07:59"
when EXTRACT(hour from start_time) = 8 and EXTRACT(minute from start_time) < 30 then "08:00-08:29"
when EXTRACT(hour from start_time) = 8 and EXTRACT(minute from start_time) >= 30 then "08:30-08:59"
when EXTRACT(hour from start_time) = 9 and EXTRACT(minute from start_time) < 30 then "09:00-09:29"
when EXTRACT(hour from start_time) = 9 and EXTRACT(minute from start_time) >= 30 then "09:30-09:59"
when EXTRACT(hour from start_time) = 10 and EXTRACT(minute from start_time) < 30 then "10:00-10:29"
when EXTRACT(hour from start_time) = 10 and EXTRACT(minute from start_time) >= 30 then "10:30-10:59"
when EXTRACT(hour from start_time) = 11 and EXTRACT(minute from start_time) < 30 then "11:00-11:29"
when EXTRACT(hour from start_time) = 11 and EXTRACT(minute from start_time) >= 30 then "11:30-11:59"
when EXTRACT(hour from start_time) = 12 and EXTRACT(minute from start_time) < 30 then "12:00-12:29"
when EXTRACT(hour from start_time) = 12 and EXTRACT(minute from start_time) >= 30 then "12:30-12:59"
when EXTRACT(hour from start_time) = 13 and EXTRACT(minute from start_time) < 30 then "13:00-13:29"
when EXTRACT(hour from start_time) = 13 and EXTRACT(minute from start_time) >= 30 then "13:30-13:59"
when EXTRACT(hour from start_time) = 14 and EXTRACT(minute from start_time) < 30 then "14:00-14:29"
when EXTRACT(hour from start_time) = 14 and EXTRACT(minute from start_time) >= 30 then "14:30-14:59"
when EXTRACT(hour from start_time) = 15 and EXTRACT(minute from start_time) < 30 then "15:00-15:29"
when EXTRACT(hour from start_time) = 15 and EXTRACT(minute from start_time) >= 30 then "15:30-15:59"
when EXTRACT(hour from start_time) = 16 and EXTRACT(minute from start_time) < 30 then "16:00-16:29"
when EXTRACT(hour from start_time) = 16 and EXTRACT(minute from start_time) >= 30 then "16:30-16:59"
when EXTRACT(hour from start_time) = 17 and EXTRACT(minute from start_time) < 30 then "17:00-17:29"
when EXTRACT(hour from start_time) = 17 and EXTRACT(minute from start_time) >= 30 then "17:30-17:59"
when EXTRACT(hour from start_time) = 18 and EXTRACT(minute from start_time) < 30 then "18:00-18:29"
when EXTRACT(hour from start_time) = 18 and EXTRACT(minute from start_time) >= 30 then "18:30-18:59"
when EXTRACT(hour from start_time) = 19 and EXTRACT(minute from start_time) < 30 then "19:00-19:29"
when EXTRACT(hour from start_time) = 19 and EXTRACT(minute from start_time) >= 30 then "19:30-19:59"
when EXTRACT(hour from start_time) = 20 and EXTRACT(minute from start_time) < 30 then "20:00-20:29"
when EXTRACT(hour from start_time) = 20 and EXTRACT(minute from start_time) >= 30 then "20:30-20:59"
when EXTRACT(hour from start_time) = 21 and EXTRACT(minute from start_time) < 30 then "21:00-21:29"
when EXTRACT(hour from start_time) = 21 and EXTRACT(minute from start_time) >= 30 then "21:30-21:59"
when EXTRACT(hour from start_time) = 22 and EXTRACT(minute from start_time) < 30 then "22:00-22:29"
when EXTRACT(hour from start_time) = 22 and EXTRACT(minute from start_time) >= 30 then "22:30-22:59"
when EXTRACT(hour from start_time) = 23 and EXTRACT(minute from start_time) < 30 then "23:00-23:29"
when EXTRACT(hour from start_time) = 23 and EXTRACT(minute from start_time) >= 30 then "23:30-23:59"
    ELSE '99' END as  transit_start_hour,
    case 
when EXTRACT(hour from end_time) = 0 and EXTRACT(minute from end_time) < 30 then "00:00-00:29"
when EXTRACT(hour from end_time) = 0 and EXTRACT(minute from end_time) >= 30 then "00:30-00:59"
when EXTRACT(hour from end_time) = 1 and EXTRACT(minute from end_time) < 30 then "01:00-01:29"
when EXTRACT(hour from end_time) = 1 and EXTRACT(minute from end_time) >= 30 then "01:30-01:59"
when EXTRACT(hour from end_time) = 2 and EXTRACT(minute from end_time) < 30 then "02:00-02:29"
when EXTRACT(hour from end_time) = 2 and EXTRACT(minute from end_time) >= 30 then "02:30-02:59"
when EXTRACT(hour from end_time) = 3 and EXTRACT(minute from end_time) < 30 then "03:00-03:29"
when EXTRACT(hour from end_time) = 3 and EXTRACT(minute from end_time) >= 30 then "03:30-03:59"
when EXTRACT(hour from end_time) = 4 and EXTRACT(minute from end_time) < 30 then "04:00-04:29"
when EXTRACT(hour from end_time) = 4 and EXTRACT(minute from end_time) >= 30 then "04:30-04:59"
when EXTRACT(hour from end_time) = 5 and EXTRACT(minute from end_time) < 30 then "05:00-05:29"
when EXTRACT(hour from end_time) = 5 and EXTRACT(minute from end_time) >= 30 then "05:30-05:59"
when EXTRACT(hour from end_time) = 6 and EXTRACT(minute from end_time) < 30 then "06:00-06:29"
when EXTRACT(hour from end_time) = 6 and EXTRACT(minute from end_time) >= 30 then "06:30-06:59"
when EXTRACT(hour from end_time) = 7 and EXTRACT(minute from end_time) < 30 then "07:00-07:29"
when EXTRACT(hour from end_time) = 7 and EXTRACT(minute from end_time) >= 30 then "07:30-07:59"
when EXTRACT(hour from end_time) = 8 and EXTRACT(minute from end_time) < 30 then "08:00-08:29"
when EXTRACT(hour from end_time) = 8 and EXTRACT(minute from end_time) >= 30 then "08:30-08:59"
when EXTRACT(hour from end_time) = 9 and EXTRACT(minute from end_time) < 30 then "09:00-09:29"
when EXTRACT(hour from end_time) = 9 and EXTRACT(minute from end_time) >= 30 then "09:30-09:59"
when EXTRACT(hour from end_time) = 10 and EXTRACT(minute from end_time) < 30 then "10:00-10:29"
when EXTRACT(hour from end_time) = 10 and EXTRACT(minute from end_time) >= 30 then "10:30-10:59"
when EXTRACT(hour from end_time) = 11 and EXTRACT(minute from end_time) < 30 then "11:00-11:29"
when EXTRACT(hour from end_time) = 11 and EXTRACT(minute from end_time) >= 30 then "11:30-11:59"
when EXTRACT(hour from end_time) = 12 and EXTRACT(minute from end_time) < 30 then "12:00-12:29"
when EXTRACT(hour from end_time) = 12 and EXTRACT(minute from end_time) >= 30 then "12:30-12:59"
when EXTRACT(hour from end_time) = 13 and EXTRACT(minute from end_time) < 30 then "13:00-13:29"
when EXTRACT(hour from end_time) = 13 and EXTRACT(minute from end_time) >= 30 then "13:30-13:59"
when EXTRACT(hour from end_time) = 14 and EXTRACT(minute from end_time) < 30 then "14:00-14:29"
when EXTRACT(hour from end_time) = 14 and EXTRACT(minute from end_time) >= 30 then "14:30-14:59"
when EXTRACT(hour from end_time) = 15 and EXTRACT(minute from end_time) < 30 then "15:00-15:29"
when EXTRACT(hour from end_time) = 15 and EXTRACT(minute from end_time) >= 30 then "15:30-15:59"
when EXTRACT(hour from end_time) = 16 and EXTRACT(minute from end_time) < 30 then "16:00-16:29"
when EXTRACT(hour from end_time) = 16 and EXTRACT(minute from end_time) >= 30 then "16:30-16:59"
when EXTRACT(hour from end_time) = 17 and EXTRACT(minute from end_time) < 30 then "17:00-17:29"
when EXTRACT(hour from end_time) = 17 and EXTRACT(minute from end_time) >= 30 then "17:30-17:59"
when EXTRACT(hour from end_time) = 18 and EXTRACT(minute from end_time) < 30 then "18:00-18:29"
when EXTRACT(hour from end_time) = 18 and EXTRACT(minute from end_time) >= 30 then "18:30-18:59"
when EXTRACT(hour from end_time) = 19 and EXTRACT(minute from end_time) < 30 then "19:00-19:29"
when EXTRACT(hour from end_time) = 19 and EXTRACT(minute from end_time) >= 30 then "19:30-19:59"
when EXTRACT(hour from end_time) = 20 and EXTRACT(minute from end_time) < 30 then "20:00-20:29"
when EXTRACT(hour from end_time) = 20 and EXTRACT(minute from end_time) >= 30 then "20:30-20:59"
when EXTRACT(hour from end_time) = 21 and EXTRACT(minute from end_time) < 30 then "21:00-21:29"
when EXTRACT(hour from end_time) = 21 and EXTRACT(minute from end_time) >= 30 then "21:30-21:59"
when EXTRACT(hour from end_time) = 22 and EXTRACT(minute from end_time) < 30 then "22:00-22:29"
when EXTRACT(hour from end_time) = 22 and EXTRACT(minute from end_time) >= 30 then "22:30-22:59"
when EXTRACT(hour from end_time) = 23 and EXTRACT(minute from end_time) < 30 then "23:00-23:29"
when EXTRACT(hour from end_time) = 23 and EXTRACT(minute from end_time) >= 30 then "23:30-23:59"
    ELSE '99' END as transit_end_hour
  FROM `telia-ddi-dk-prod.mobility_signals.transits_20190801` t
  INNER JOIN `telia-ddi-dk-prod.mobility_signals.quality_tiers_20190801` tier ON t.identifier = tier.identifier
  INNER JOIN `telia-ddi-dk-dev.david.dk_ltm_mixed`  go ON st_covers(go.geo, t.origin_point)
  INNER JOIN `telia-ddi-dk-dev.david.dk_ltm_mixed`  gd ON st_covers(gd.geo, t.destination_point )
    
  WHERE tier.rating != "C"
  # Filter out transits with low density
  #AND (IFNULL(num_clusters_in_transit, 0) + 2) / (duration /60 /60) >= 6 
)
, ex_customers AS (
  SELECT
    (1 / p_observation) * m_cluster_adjuster * m_device_reducer AS m_customers
  FROM `telia-ddi-dk-prod.extrapolation.signal_probabilities_day_20190801`
)
, ex_identifier AS (
  SELECT
    identifier,
    observed_market_share
  FROM `telia-ddi-dk-prod.mobility_signals.areas_of_habit_20190801` h
  INNER JOIN `telia-ddi-dk-prod.maps.administrative_level_4` ma ON ST_CONTAINS(ma.geo, h.point)
  INNER JOIN `telia-ddi-dk-prod.extrapolation.administrative_level_3_baseline_market_share` ms ON ms.admin_level_3_code = ma.admin_level_3_code
  WHERE
    h.aoh_classification = 'HOME'
)
# New p_quality_transit
, ex_transit AS (
  SELECT
    EXTRACT(hour FROM start_time) AS start_hour,
    1 / (COUNT(DISTINCT CASE WHEN (IFNULL(num_clusters_in_transit, 0) + 2) / (duration /60 /60) >= 6 THEN identifier ELSE NULL END) / COUNT(DISTINCT identifier)) AS m_quality_transits
  FROM `telia-ddi-dk-prod.mobility_signals.transits_20190902`
  INNER JOIN `telia-ddi-dk-prod.mobility_signals.quality_tiers_20190902` USING(identifier) 
  WHERE rating != 'C'
  GROUP BY
    start_hour
  ORDER BY 
    start_hour
)
, ex_transits_num AS (
  SELECT
    origin_area_code,
    destination_area_code,
    transit_start_hour,
    transit_end_hour ,
    COUNT(*) AS devices,
    CAST(ROUND(COUNT(*) * ANY_VALUE(m_customers)) AS INT64) AS customers,
    # inflated "raw" number,
    CAST(ROUND(COUNT(*) * ANY_VALUE(m_customers) * ANY_VALUE(m_quality_transits)) AS INT64) AS new_customers,
    CAST(ROUND(SUM((1/observed_market_share) * m_customers)) AS INT64) AS people,
    # inflated people number
    CAST(ROUND(SUM((1/observed_market_share) * m_customers * m_quality_transits)) AS INT64) AS new_people
  FROM transits t, ex_customers 
  LEFT JOIN ex_identifier i
    ON i.identifier = t.identifier
  LEFT JOIN ex_transit
    ON t.hour = ex_transit.start_hour 
  GROUP BY
    origin_area_code,
    --derived_waypoint_grid_code,
    destination_area_code,
    transit_start_hour,
    transit_end_hour
  HAVING
    SUM((1/observed_market_share) * m_customers) >= 0
)
SELECT
   n.origin_area_code,
   n.destination_area_code,
   n.transit_start_hour,
   n.transit_end_hour,
   --CAST(ROUND(n.devices, 0) AS INT64)       AS devices,
   --CAST(ROUND(n.customers, 0) AS INT64)     AS customers,
   --CAST(ROUND(n.new_customers, 0) AS INT64) AS new_customers,
   --CAST(ROUND(n.people, 0) AS INT64)        AS old_people,
   CAST(ROUND(n.new_people, 0) AS INT64)    AS people
   
FROM ex_transits_num n
WHERE n.new_people > 5
""")

results = query_job.result()  # Waits for job to complete.

for row in results:
    print("{} : {} views".format(row.url, row.view_count))